*{
    margin: 0;
}
.header{
    height: 100px;
    background-color: rgb(15, 15, 173);
    width: 100%;
}
.logo{
    width: 50%;
    padding-top: 30px;
    float: left;
    
}
.logo a{
  color: white;
  font-size: 38px;
  padding-top: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 170px;
}
.login{
    width: 50%;
    float: left;
    padding-top: 15px;
}
label{
    color: white;
}
td a{
    font-size: 13px;
    text-decoration: none;
    color: darkgray;
}
.main-body{
    background: linear-gradient(white,rgb(223, 234, 255));
    width: 100%;
    height: 700px;
}
